doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/graph.css')
    link(href='https://fonts.googleapis.com/css?family=Abel|Roboto:100i,300', rel='stylesheet')
    script(src='./js/Chart.js')
    script(src='/js/jquery.min.js')
    script.
      var ratesData = '#{ratesData}'.split(',');
      var ratesLabels = '#{ratesLabels}'.split(',');
      var yearsLabels = '#{yearsLabels}'.split(',');
      var yearsData = '#{yearsData}'.split(',');
      var tabUsers = '#{tabUsers}'.split(',');
  body
    hr
    #admin
      | Admin statistique
    p#title
      | NOTE IMDB
    hr
    p#description
      | Classement des films par rapport a leur note IMDB
    #allButton
      .boutton
        button(id="b1", class="valid")
          | Note IMDB
      .boutton
        button(id="b2")
          | Graphique utilisateurs
      .boutton
        button(id="b3")
          | Année de production
      .boutton
        button(id="b4")
          | DataBase
    #one.graph
      canvas#myChart(width='100%', height='100%')
    #two.graph(style="display:none")
      canvas#myChart2(width='100%', height='100%')
    #three.graph(style="display:none")
      canvas#myChart3(width='100%', height='100%')
    #four.graph(style="display:none")
      div(style="width: 200px; text-align:center; margin:auto")
        p#message(style="display:none")
        button(id="b5", style="display:block; margin-bottom:15px")
          | Clear
        button(id="b6", style="display:block; margin-bottom:15px")
          | Update
        button(id="b7", style="display:block")
          | add All


    script(src='./js/graph.js')
    script(src='./js/moveGraph.js')
