extends layout

block content
	.col-md-12(style="text-align:center")
		h1.text-center #{ __('Homepage') }
		a.btn.btn-default.bb(href='/auth/facebook', style="margin-right:25px") #{ __('Sign-in Facebook') }
		a.btn.btn-default.bb(href='/auth/github', style="margin-right:25px") #{ __('Sign-in GitHub') }
		a.btn.btn-default.bb(href='/auth/google', style="margin-right:25px") #{ __('Sign-in Google') }
		a.btn.btn-default.bb(href='/auth/twitter', style="margin-right:25px") #{ __('Sign-in twitter') }
		a.btn.btn-default.bb(href='/auth/42') #{ __('Log with 42') }


	- if (message != null)
		.col-md-12
			h1 Error :
				p
					| #{message}

	.col-md-6
		h1.text-center #{ __('Login') }
		#alertLogin.alert.alert-danger(role='alert', style='display:none;')
		form#formLogin(method='POST', action='/', data-toggle='validator')
			#formGroupEmailLogin.form-group
				label(for='inputEmailLogin') #{ __('Email address or username') }
				input#inputEmailLogin.form-control(type='text', name='username', placeholder="Email or username", required='')
				span#helpBlockEmailLogin.help-block(style='display:none;')
			#formGroupPasswordLogin.form-group
				label(for='inputPasswordLogin') #{ __('Password') }
				input#inputPasswordLogin.form-control(type='password', name="password" placeholder='Password', required='')
				span#helpBlockPasswordLogin.help-block(style='display:none;')
			button#submitLogin.btn.btn-default.btn-lg.btn-block(type='submit') #{ __('Login') }
			a.help-block(href='/password-forgotten') #{ __('Password Forgotten') }

	.col-md-6
		h1.text-center #{ __('Signup') }
		#alertRegister.alert.alert-danger(role='alert', style='display:none;')
		form#formRegister(method='POST', action='/userCreate', data-toggle='validator')
			.form-group
				label(for='inputEmailRegister') #{ __('Email address') }
				input#inputEmailRegister.form-control(type='email', placeholder='Email address', name='email', data-error='That email address is invalid', required='')
				.help-block.with-errors
			.form-group
				label(for='inputUsernameRegister') #{ __('Username') }
				input#inputUsernameRegister.form-control(type='text', placeholder='Username', name='username', required='')
				.help-block.with-errors
			.form-group
				label(for='inputLastNameRegister') #{ __('Last Name') }
				input#inputLastNameRegister.form-control(type='text', data-minlength="2", placeholder='Name', name='lastName', required='')
				.help-block.with-errors
			.form-group
				label(for='inputFirstNameRegister') #{ __('First Name') }
				input#inputFirstNameRegister.form-control(type='text', data-minlength="2", placeholder='First Name', name='firstName', required='')
				.help-block.with-errors
			#formGroupPasswordRegister.form-group
				label(for='inputPasswordRegister') #{ __('Password') }
				input#inputPasswordRegister.form-control(type='password', data-minlength="6", placeholder='Password', name="password", required='')
				.help-block.with-errors
			button#submitRegister.btn.btn-default.btn-lg.btn-block(type='submit') #{ __('Register') }
