extends layout
block content
	.col-sm-12
		form#formQuery.form-horizontal(style='margin-top:50px')
			.form-group
				label.col-sm-2.control-label(for='') #{ __('Title') }
				.col-sm-10
					input#inputTitle.form-control(type='text', placeholder='', name='query', autocomplete='off')
			.form-group
				//- label.col-sm-2.control-label(for='') Actors
				//- .col-sm-10
					//- select#selectActors.form-control.select-tag(name='actors')
						//- option(value='')
				label.col-sm-2.control-label(for='') #{ __('Genres') }
				.col-sm-10
					select#selectGenres.form-control.select-tag(name='genres', style='width:100%')
						option(value='')
			.form-group
				label.col-sm-2.control-label(for='') #{ __('Directors') }
				.col-sm-10
					select#selectDirectors.form-control.select-tag(name='directors', style='width:100%')
						option(value='')
			.form-group
				label.col-sm-2.control-label(for='') #{ __('Qualities') }
				.col-sm-10
					select#selectQualities.form-control.select-tag(name='quality', style='width:100%')
						option(value='')
			.form-group
				label.col-sm-2.control-label(for='') #{ __('Parental Guidance') }
				.col-sm-10
					select#selectParentalGuidance.form-control.select-tag(name='parentalGuidances', style='width:100%')
						option(value='')
			.form-group
				label.col-sm-2.control-label(for='') #{ __('Rate') }
				.col-sm-10(style='margin-top:20px;')
					input#sliderRate(type='text', data-slider-min='0', data-slider-max='10', data-slider-step='1', data-slider-value='[0,10]', name='rate', style='width:100%')
			.form-group
				label.col-sm-2.control-label(for='') #{ __('Years') }
				.col-sm-10(style='margin-top:20px;')
					input#sliderYear(type='text', value='', data-slider-min='1918', data-slider-max='2016', data-slider-step='1', data-slider-value='[1918,2016]', name='years', style='width:100%')
			.form-group
				.col-sm-offset-2.col-sm-10(style="text-align:center")
					button#getQuery.btn.btn-default.bb(type='submit', style="margin-right:20px") #{ __('Find') }
					button#changeOrderResult.btn.bb.btn-default(style="margin-right:20px") #{ __('Change order result by title') }
					button#changeOrderByYears.btn.bb.btn-default(style="margin-right:20px") #{ __('Change order result by years') }
					button#changeOrderByRate.btn.bb.btn-default(style="margin-right:20px") #{ __('Change order result by rate') }
	.col-sm-12
		.row#movies
block script
	script.
		$.get('/api/v1/getGenres', function(data) {
			$.each(data, function (index, value) {
				$('#selectGenres').append('<option value='+ value +'>' +  value + '</option>');
			});
			$('#selectGenres').select2();
		});
		$.get('/api/v1/getDirectors', function(data) {
			$.each(data, function (index, value) {
				$('#selectDirectors').append('<option value='+ value.replace(/ /g,"%20") +'>' +  value + '</option>');
			});
			$('#selectDirectors').select2();
		});
		$.get('/api/v1/getQualities', function(data) {
			$.each(data, function (index, value) {
				$('#selectQualities').append('<option value='+ value +'>' +  value + '</option>');
			});
			$('#selectQualities').select2();
		});
		$.get('/api/v1/getParentalGuidances', function(data) {
			$.each(data, function (index, value) {
				$('#selectParentalGuidance').append('<option value='+ value +'>' +  value + '</option>');
			});
			$('#selectParentalGuidance').select2();
		});
		$('#sliderRate').slider({
			formatter: function(value) {
				return 'Rate between: ' + value;
			}
		});
		$('#sliderYear').slider({
			formatter: function(value) {
				return 'Years between: ' + value;
			}
		});
		var randomoffset = Math.floor((Math.random() * 1000));
		var offset = 0;
		function postQuery() {
			$('#movies .col-sm-3').hover(function() {
				$(this).find('img').stop().animate({ opacity: 0.25 });
				$(this).find('span').stop().fadeIn();
			}, function() {
				$(this).find('img').stop().animate({ opacity: 1 });
				$(this).find('span').stop().fadeOut();
			});
			$('#movies .col-sm-3 > span').each(function (index, value) {
				$(value).hide();
			})
		};
		var query = '/api/v1/getMovies?';
		getMovies(query, 0, 'desc', 'seed');
		function getMovies(query, offset, orderSens, orderBy) {
			$('#movies').append('<div id="load"><div>G</div><div>N</div><div>I</div><div>D</div><div>A</div><div>O</div><div>L</div></div>');
			$('#formQuery input').each(function (index, value) {
				if ($(value).val() != '') {
					if (query != '/api/v1/getMovies?') {
						query += '&'
					}
					if ($(value).attr('name') == 'query') {
						query += $(value).attr('name');
						query += '=';
						query += $(value).val().replace(/ /g,"%20");
					} else if ($(value).attr('name') == 'years') {
						//- query += $(value).val().replace(/ /g,"%20");
						query += 'minYear=' + $(value).val().split(',')[0]
						query += '&maxYear=' + $(value).val().split(',')[1]
					} else if ($(value).attr('name') == 'rate') {
						//- query += $(value).val().replace(/ /g,"%20");
						query += 'minRate=' + $(value).val().split(',')[0]
						query += '&maxRate=' + $(value).val().split(',')[1]
					} else {
						query += $(value).attr('name');
						query += '=';
						query += $(value).val();
					}
				}
			});
			$('#formQuery select').each(function (index, value) {
				if ($(value).val() != '') {
					if (query != '/api/v1/getMovies?') {
						query += '&'
					}
					query += $(value).attr('name');
					query += '=';
					query += $(value).val();
				}
			});
			query += '&offset=' + offset;
			query += '&limit=12';
			if (orderSens === undefined) { query += '&orderSens=desc' } else { query += '&orderSens=' + orderSens; }
			if (orderBy === undefined) { query += '&orderBy=seed' } else { query += '&orderBy=' + orderBy; }
			var list_views = '#{movieView}'
			var array_movies = list_views.split(',')
			$.get(query, function(data) {
				$.each(data, function (index, value) {
					var is_view;
					if (array_movies.indexOf(value.id) !== -1) { is_view = 'blur'; } else { is_view = ''; }
					var torrents = '';
					var torrents2 = '';
					var genres = '';
					var i = 0;
					for (var key in value.torrents) {
						if (i >= 2){
							torrents2 += '<a class="btn btn-default btn-xs bb2" href="/watch/' + value.id + '/' + value.torrents[key].quality + '" role="button">'
							torrents2 += value.torrents[key].quality;
							torrents2 += '</a>';
							torrents2 += '(' + value.torrents[key].seed + ')';
						} else {
							torrents += '<a class="btn btn-default btn-xs bb2" href="/watch/' + value.id + '/' + value.torrents[key].quality + '" role="button">'
							torrents += value.torrents[key].quality;
							torrents += '</a>';
							torrents += '(' + value.torrents[key].seed + ')';
						}
						i++;
					}
					for (var key in value.genres) {
						genres += value.genres[key] + ' ';
						if (value.genres.length > key + 1) genres += ' - ';
					}
					var poster = value.poster == 'N/A' ? 'https://yts.ag/assets/images/movies/4got10_2015/large-cover.jpg' : value.poster;
					/*poster = value.poster == 'https://yts.ag/assets/images/movies/the_vampire_lovers_1970/large-cover.jpg' ? 'https://yts.ag/assets/images/movies/4got10_2015/large-cover.jpg' : value.poster;*/
					$('#movies').append(''
						+ '<div class="col-sm-3" style="position: relative; margin-top: 20px; display: none; ">'
						+ '<img class="' + is_view + '" src="' + poster + '" style="display: inline; width: 100%;" onload="doStuff(this);">'
						+ '<span class="title glitch" data-text="' + value.title +'">' + value.title + '</span>'
						+ '<span class="year">' + value.year + '</span>'
						+ '<span class="torrents">' + torrents + '</span>'
						+ '<span class="torrents2">' + torrents2 + '</span>'
						+ '<span class="genres">' + genres + '</span>'
						+ '<span class="rate">' + value.rate + '/10</span>'
						+ '</div>'
					);//.glitch(data-text='GLITCH') GLITCH
					index++;
					if (index % 4 === 0 ) {
						$('#movies').append('<div class="row"></div>');
					}
				});
				postQuery();
				$('#load').remove();
			});
		};
		function doStuff(img) {
			$(img).parent().show();
		}
		$('#formQuery').submit(function(e) {
			e.preventDefault();
			$('#movies').empty();
			getMovies(query, 0, 'asc', 'title');
		})
		$('#changeOrderByYears').click(function (e) {
			e.preventDefault();
			$('#movies').empty();
			orderSens == 'desc' ? orderSens = 'asc' : orderSens = 'desc';
			offset = 0;
			getMovies(query, offset, orderSens, 'year')
		})
		$('#changeOrderByRate').click(function (e) {
			e.preventDefault();
			$('#movies').empty();
			orderSens == 'desc' ? orderSens = 'asc' : orderSens = 'desc';
			offset = 0;
			getMovies(query, offset, orderSens, 'rate')
		})
		var orderSens = 'asc';
		$('#changeOrderResult').click(function (e) {
			e.preventDefault();
			$('#movies').empty();
			orderSens == 'desc' ? orderSens = 'asc' : orderSens = 'desc';
			offset = 0;
			getMovies(query, offset, orderSens, 'title')
		})
		$(window).scroll(function() {
			if($(window).scrollTop() + $(window).height() == $(document).height()) {
				offset += 12;
				if ($('#load').length === 0) getMovies(query, offset);
			}
		});
