doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/dropzone.css')
		link(rel='stylesheet', href='/css/select2.min.css')
		link(rel='stylesheet', href='/css/bootstrap-slider.min.css')
		link(rel='stylesheet', href='/styles/importer.css')
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/validator.min.js')
		script(src='/js/dropzone.js')
		script(src='/js/select2.full.min.js')
		script(src='/js/bootstrap-slider.min.js')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only #{ __('Toggle navigation') }
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Hypertube
					#flags
						a(href="/en")
							img(src='/images/flags/en.png', alt='')
						a(href="/es")
							img(src='/images/flags/es.png', alt='')
						a(href="/fr")
							img(src='/images/flags/fr.png', alt='')
						a(href="/it")
							img(src='/images/flags/it.png', alt='')
						a(href="/de")
							img(src='/images/flags/gr.png', alt='')
				#navbar.navbar-collapse.collapse
					- if (islogged == true)
						ul.nav.navbar-nav.navbar-right
							li
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
									| #{ __('Dropdown') }
									span.caret
								ul.dropdown-menu
									li
										a(href='/myprofile') #{ __('My account') }
									li.divider(role='separator')
									li
										a(href='/logout') #{ __('Logout') }

		.container
			// Example row of columns
			.row
				block content

			hr

			footer
				p © 2016 Hypertube Company, Inc.
	script(src='/js/script.js')
	script.
		Dropzone.options.myAwesomeDropzone = {
			acceptedFiles: 'image/*',
			maxFiles: 1,
			uploadMultiple: false,
			maxFilesize: 10
		};
		Dropzone.options.myAwesomeDropzone = {
		  init: function() {
		    //- this.on("addedfile", function(file) { alert("Added file."); });
		    //- this.on("accept", function(file) { alert("accept file."); });
		  }
		};
	block script
