table
	each movie in movies
		tr
			//- td
			//- 	img(src = movie.poster)
			td= movie.title
			td= movie.year
			td= movie.seed
			//- td= movie.rate
			//- td= movie.tag
			//- td= movie.genres
			//- td= movie.rates
			//- td
			//- 	each torrent in movie.torrents
			//- 		=torrent.quality
			//- 		a(href = torrent.magnet) magnet
			//- td=movie.actors
			//- td
			//- 	- if (movie.youtubeId)
			//- 		a(href = '/youtube/' + movie.youtubeId) trailer

//- {
//-     "title": "#Horror",
//-     "year": 2015,
//-     "runtime": "101",
//-     "genres": [
//-       "Action",
//-       "Drama",
//-       "Horror",
//-       "Mystery",
//-       "Thriller"
//-     ],
//-     "director": "Tara Subkoff",
//-     "actors": [
//-       "Emma Adler",
//-       "Jessica Blank",
//-       "Ted Christensen",
//-       "Annabelle Dexter-Jones"
//-     ],
//-     "plot": "#HORROR is a film about the lives of six young girls, Sam, Georgie, Sofia, Francesca, Cat and Eva played by our ensemble of emerging actresses. Their world is one of money, success, leisure and decadence. This is a film about the HORROR of cyberbullying. This film is an integral insight on the pressure that girls take on as they grow in a world that is increasingly dependent on the promotion and attention that social media platforms provide yet prevent bullying. as well as the roles that parents must play regarding controlling their child's use of the internet and bullying plays such a terrifying role in society. These young girls are telling this story inside a glass mansion, filled with millions of dollars of artwork, as if they were living in a contemporary art museum.",
//-     "awards": "N/A",
//-     "poster": "https://yts.ag/assets/images/movies/horror_2015/large-cover.jpg",
//-     "youtubeId": "mC--wtOmfck",
//-     "rate": 3.3,
//-     "parentalGuidance": "NOT RATED",
//-     "torrents": [
//-       {
//-         "quality": "720p",
//-         "seed": 8,
//-         "leech": 2,
//-         "magnet": "magnet:?xt=urn:btih:E1CF8FE6D40D6E7E26E124E2A2D708EBEEC58F76&dn=horror-2015&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.opentrackr.org:1337/announce"
//-       },
//-       {
//-         "quality": "1080p",
//-         "seed": 7,
//-         "leech": 1,
//-         "magnet": "magnet:?xt=urn:btih:44F4ECE6595A55597CD436F4EDFE83AA569BD6CE&dn=horror-2015&tr=udp://tracker.openbittorrent.com:80&tr=udp://tracker.opentrackr.org:1337/announce"
//-       }
//-     ],
//-     "createdAt": "2016-10-09T16:17:04.746Z",
//-     "updatedAt": "2016-10-09T16:17:04.746Z",
//-     "id": "57fa6d805512bf6d17ba53ef"
//-   }
