extends layout

block content

	.col-md-12
		h1 #{ __('Profile') }

	.col-md-6
		#alertUpdate.alert(role='alert', style='display:none;')
		if !user.omniauth
			p#toggleEmailUpdate
				| #{user.email}
				span.glyphicon.glyphicon-edit(aria-hidden='true')
			form#formEmailUpdate(method='POST', action='/modify-email', data-toggle='validator')
				.form-group
					label(for='inputEmailUpdate') #{ __('Email address') }
					input#inputEmailUpdate.form-control(type='email', placeholder='Email address', name='email', data-error='That email address is invalid', required='', value=user.email)
					.help-block.with-errors
					button#submitEmailUpdate.btn.bb.btn-default.btn-lg.btn-block(type='submit') #{ __('Update') }
		p#toggleUsernameUpdate
			| #{user.username}
			span.glyphicon.glyphicon-edit(aria-hidden='true')
		form#formUsernameUpdate(method='POST', action='/modify-username', data-toggle='validator')
			.form-group
				label(for='inputUsernameUpdate') #{ __('Username') }
				input#inputUsernameUpdate.form-control(type='text', placeholder='Username', name='username', required='', value=user.username)
				.help-block.with-errors
				button#submitUsernameUpdate.btn.bb.btn-default.btn-lg.btn-block(type='submit') #{ __('Update') }
		p#toggleLastnameUpdate
			| #{user.lastName}
			span.glyphicon.glyphicon-edit(aria-hidden='true')
		form#formLastNameUpdate(method='POST', action='/modify-lastname', data-toggle='validator')
			.form-group
				label(for='inputLastNameUpdate') #{ __('Last Name') }
				input#inputLastNameUpdate.form-control(type='text', data-minlength="2", placeholder='Name', name='lastName', required='', value=user.lastName)
				.help-block.with-errors
				button#submitLastNameUpdate.btn.bb.btn-default.btn-lg.btn-block(type='submit') #{ __('Update') }
		p#toggleFirstnameUpdate
			| #{user.firstName}
			span.glyphicon.glyphicon-edit(aria-hidden='true')
		form#formFirstNameUpdate(method='POST', action='/modify-firstname', data-toggle='validator')
			.form-group
				label(for='inputFirstNameUpdate') #{ __('First Name') }
				input#inputFirstNameUpdate.form-control(type='text', data-minlength="2", placeholder='First Name', name='firstName', required='', value=user.firstName)
				.help-block.with-errors
				button#submitFirstNameUpdate.btn.bb.btn-default.btn-lg.btn-block(type='submit') #{ __('Update') }
		if !user.omniauth
			p#togglePasswordnameUpdate
				| password
				span.glyphicon.glyphicon-edit(aria-hidden='true')
			form#formPasswordUpdate(method='POST', action='/modify-password', data-toggle='validator')
				.form-group
					label(for='inputPasswordNewUpdate') #{ __('New Password') }
					input#inputPasswordNewUpdate.form-control(type='password', data-minlength="6", placeholder='New Password', name="newpassword", required='')
					.help-block.with-errors
				.form-group
					label(for='inputPasswordConfirmNewUpdate') #{ __('Confirm New Password') }
					input#inputPasswordConfirmNewUpdate.form-control(type='password', data-minlength="6", placeholder='Confirm new password', name="confirmnewpassword", required='', data-match="#inputPasswordNewUpdate" data-match-error="Whoops, these don't match")
					.help-block.with-errors
					button#submitPasswordUpdate.btn.btn-default.btn-lg.btn-block(type='submit') #{ __('Update') }
	.row
		.col-md-6
			img#loadProfileImage(src='box.gif', data-src=user.image, style='width:100%')
			if !user.omniauth
				a.btn.bb.btn-default(href='/upload', role='button') #{ __('Change my picture') }

	div(style='clear:both;')
