extends layout

block content
	- if (message != null)
		.col-md-12
			h1 Error :
				p
					| #{message}
	.col-md-12
		h1.text-center #{ __('Enter your new password') }
		#alert.alert(role='alert', style='display:none;')
		form#formNewPassword(method='POST', action='/new-password/'+ tokens)
			.form-group
				label(for='inputPasswordRegister') #{ __('Password') }
				input#inputPasswordRegister.form-control(type='password', data-minlength="6", placeholder='Password', name="password", required='')
				.help-block.with-errors
			button.btn.btn-default.btn-lg.btn-block(type='submit') #{ __('Send') }
