extends layout

block content
	- if (message != null)
		.col-md-12
			h1 Error :
				p
					| #{message}
	.col-md-12
		h1.text-center #{ __('Password Forgotten') }
		#alert.alert(role='alert', style='display:none;')
		form#formPasswordForgotten(method='POST', action='/reset')
			.form-group
				label(for='inputEmailRegister') #{ __('Email address or username') }
				input#inputEmailRegister.form-control(type='text', placeholder='Email address or username', name='user', data-error='That email address is invalid', required='')
				.help-block.with-errors
			button.btn.btn-default.btn-lg.btn-block(type='submit') #{ __('Send') }
