extends layout

block content

	.row
		.col-md-6
			img(src='/' + user.image, style='width:100%')
		.col-md-6
			.row
				.col-md-12
					h1 #{ __('Profile') }
			.row
				p
					| #{user.username}
				p
					| #{user.lastName}
				p
					| #{user.firstName}
