doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/dropzone.css')
    link(rel='stylesheet', href='/css/select2.min.css')
    link(rel='stylesheet', href='/css/bootstrap-slider.min.css')
    link(rel='stylesheet', href='/styles/importer.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/validator.min.js')
    script(src='/js/dropzone.js')
    script(src='/js/select2.full.min.js')
    script(src='/js/bootstrap-slider.min.js')
    script(src='https://www.youtube.com/iframe_api')
    style.
      .test {
        background: url(#{movie.poster}) no-repeat center center fixed;
        background-size: cover;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 1400px;
        -webkit-filter: brightness(0.2);
        -moz-filter: brightness(0.2);
        -o-filter: brightness(0.2);
        -ms-filter: brightness(0.2);
        filter: brightness(0.2);
      }
      .cont {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 9999;
        margin-left: 20px;
        margin-right: 20px;
      }
  body
    div.test
    div.cont
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only #{ __('Toggle navigation') }
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Hypertube
            #flags
              a(href="/en")
                img(src='/images/flags/en.png', alt='')
              a(href="/es")
                img(src='/images/flags/es.png', alt='')
              a(href="/fr")
                img(src='/images/flags/fr.png', alt='')
              a(href="/it")
                img(src='/images/flags/it.png', alt='')
              a(href="/de")
                img(src='/images/flags/gr.png', alt='')
          #navbar.navbar-collapse.collapse
            - if (islogged == true)
              ul.nav.navbar-nav.navbar-right
                li
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | #{ __('Dropdown') }
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/myprofile') #{ __('My account') }
                    li.divider(role='separator')
                    li
                      a(href='/logout') #{ __('Logout') }

      .container
        // Example row of columns
        .row
          block content
              h1(style='text-align:center') #{ movie.title }
              h3(style='text-align:center') #{ movie.year }
              h4(style='text-align:center') #{ movie.rate } / 10

              if barre == 1
                  div.pull-right
                      input.form-control(type='text', value='http://localhost:1337/stream/' + id + '/'+ quality)
                  div.pull-right
                      a.btn.btn-default(href='http://localhost:1337/download/' + id + '/'+ quality, download) Download the movie
              .row
                  .col-lg-9
                      h4 Directors
                      p #{ movie.director }
                      h4 Actors
                      p
                          each item in movie.actors
                              span= item + ' '
                      h4 Genres
                      p
                          each item in movie.genres
                              span= item + ' '
                      h4 Plot
                      p(style='overflow:overlay; height: 300px') #{ movie.plot }
                  .col-lg-3(style='height: 100%;')
                      img#poster(src=movie.poster)
              hr

              if barre == 0
                  .progress
                      .progress-bar#progressbar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='min-width: 2em; width: 0%;')
                          | 0%


              .video
                  video#video(data-id=id, data-resolution=quality, controls='', preload='auto', style='width: 100%;')
                      source(src='http://localhost:1337/stream/' + id + '/'+ quality, type='video/mp4')

              div#playerYT
                  div#player

              #media-controls(style='display:none;')
                  progress#progress-bar(min='0', max='100', value='0', style='width:100%;') 0% played
                  //- button#replay-button.replay(title='replay', onclick='replayMedia();') Replay
                  //- button#play-pause-button.play(title='play', onclick='togglePlayPause();') Play
                  //- button#stop-button.stop(title='stop', onclick='stopPlayer();') Stop
                  //- button#volume-inc-button.volume-plus(title='increase volume', onclick='changeVolume("+");') Increase volume
                  //- button#volume-dec-button.volume-minus(title='decrease volume', onclick='changeVolume("-");') Decrease volume

              h1.text-center #{ __('Comments') }


              #commentDiv
                  if movie.commentaires
                      each comment in movie.commentaires
                          .media
                              .media-left.media-middle
                                  a(href='/profile/' +  comment[0])
                                      img.media-object(src=comment[2], style='width: 64px;')
                              .media-body
                                  h4.media-heading
                                      a(href='/profile/' +  comment[0], style='color: white') #{ comment[1] }
                                  p #{ comment[3] }
                              hr(style='width:50%')
              #alertComment.alert.alert-danger(role='alert', style='display:none;') Error comment
              form#formcomment(method='POST', action='/')
                  .form-group
                      textarea#textarea.form-control(rows='3', placeholder='Comment this movie', name='comment')
                  button#submitComment.btn.bb.btn-default.btn-lg.btn-block(type='submit') #{ __('Send my comment') }


        hr

        footer
          p © 2016 Hypertube Company, Inc.
  script(src='/js/script.js')
  script.
    Dropzone.options.myAwesomeDropzone = {
      acceptedFiles: 'image/*',
      maxFiles: 1,
      uploadMultiple: false,
      maxFilesize: 10
    };

  block script
      script(src='/js/media-player.js')
      script(src='/js/dependencies/sails.io.js')
      if barre == 0
          script.
              $( document ).ready(function() {
                  var isFirefox = typeof InstallTrigger !== 'undefined';
                  if (isFirefox) {
                      mediaPlayer.controls = false;
                  }
              });
              $('#media-controls').show();
              $("<style>").prop("type", "text/css")
                  .html("\
                  video::-webkit-media-controls-timeline {\
                      display: none;\
                  }").appendTo("head");
      script.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var listTrailers = [];
            $.get('/api/v1/getTrailers?movieId=#{ id }' , function(data) {
                listTrailers = data;
                test();
            });
            var indexListTrailers = 0;
            var player;
            function onYouTubeIframeAPIReady() {
                    $('#playerYT').html('<div id="player"></div>');
                    test();
            }
            function test() {
                $('#playerYT').html('<div id="player"></div>');
                player = new YT.Player('player', {
                    width: '100%',
                    videoId: listTrailers[indexListTrailers],
                    playerVars: { 'autoplay': 1, 'controls': 0 },
                    events: {
                        'onReady': onPlayerStateChange,
                        'onStateChange': onPlayerStateChange,
                        'onError' : onPlayerError,
                    }
                });
            }

            function onPlayerError() {
                if (indexListTrailers < listTrailers.length - 1) {
                    indexListTrailers++;
                } else {
                    indexListTrailers = 0;
                }
                onYouTubeIframeAPIReady();
            }

            function onPlayerStateChange(event) {
                if(event.data === 0) {
                    if (indexListTrailers < listTrailers.length - 1) {
                        indexListTrailers++;
                    } else {
                        indexListTrailers = 0;
                    }
                    onYouTubeIframeAPIReady();
                }
            }

      script.
          socket = io.connect();
          socket.on('connect', function socketConnected() {
              var previous_percent = 0;
              socket.on('#{ id }', function newMessageFromSails ( dataToFront ) {
                  if (dataToFront.percent > 100) { dataToFront.percent = 100; }
                  if (previous_percent < dataToFront.percent) {
                      $('#progressbar').attr('aria-valuenow', dataToFront.percent).css('width', dataToFront.percent + '%').text(dataToFront.percent + ' % ' + dataToFront.eta + ' - ' + dataToFront.speed + ' Mo/s');
                      previous_percent = dataToFront.percent;
                  } else {
                      $('#progressbar').attr('aria-valuenow', previous_percent).css('width', previous_percent + '%').text(previous_percent + ' % ' + dataToFront.eta + ' - ' + dataToFront.speed + ' Mo/s');
                  }
                  //- if (percent > 30) { mediaPlayer.style.display = 'block' }
                  //- if (percent >= 100) { $('.progress').slideUp(); }
              });
          });
          $('#submitComment').click(function(e) {
              e.preventDefault();
              if ($('#textarea').val() != '') {
                  var posting = $.post('/comment/#{ id }', $('#formcomment').serialize());
                  posting.done(function(data) {
                      if (data.error) {
                          $('#alertComment').show();
                      } else {
                      $('#textarea').val('');
                      data = data.comment;
                      var newComment = '<div class="media">';
                      newComment += '<div class="media-left media-middle">';
                      newComment += '<a href="/profile/' + data[0] + '">';
                      newComment += '<img class="media-object" src="' + data[2] + '" style="width: 64px">';
                      newComment += '</a>';
                      newComment += '</div>';
                      newComment += '<div class="media-body">';
                      newComment += '<h4 class="media-heading">';
                      newComment += '<a href="/profile/' + data[0] + '" style="color:white;">';
                      newComment += data[1];
                      newComment += '</a></h4><p>';
                      newComment += data[3].replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");
                      newComment += '</p></div><hr style="width:50%"></div>';
                      $('#commentDiv').append(newComment);
                      }
                  });
              }
          });
          var language = '#{ user.langue }';
          $.get('/api/v1/getAvailableSubtitles?movieId=#{ id }' , function(data) {
              var objLabel = { en:'English', es:'Español', fr:'Français', it:'Italiano', nl:'Nederlands', pl:'Polski', pt:'Português', ro:'Român', sv:'Svenska', tr:'Türkçe' };
              $.each(data, function (index, value) {
                  if (value.slice(-2) == language) {
                      // le sous titre correspond a la langue
                      $('#video').append('<track src="' + value + '" kind="subtitles" srclang="' + value.slice(-2) + '" label="' + objLabel[value.slice(-2)] + '" default>')
                  } else {
                      $('#video').append('<track src="' + value + '" kind="subtitles" srclang="' + value.slice(-2) + '" label="' + objLabel[value.slice(-2)] + '">')
                  }

              });
          });
