extends layout

block content
	- if (flash != null)
		p
			| flash message

	- if (message != null)
		.col-md-12
			h1 Error :
				p
					| #{message}
	.col-md-12

		h1.text-center  #{ __('Upload your picture Profile') }
		#alertLogin.alert.alert-danger(role='alert', style='display:none;')

	.col-md-6
		form#myAwesomeDropzone.dropzone(action='/userUpload')
		//- form#formUpload(method='POST', action='/userUpload', enctype="multipart/form-data")
			//- span.btn.btn-default.btn-file
				//- | #{ __('Upload Photo') }
				//- input#file(type='file', name='photo', accept='image/png, image/jpg, image/jpeg, image/gif')
			//- .row
				//- img#previewimg(src='/images/avatar/default.jpg', alt='your image', style='width:100%')
			button.btn.btn-default.btn-block(type='submit') #{ __('Upload') }
