doctype html
html
	body
		// 1. The <iframe> (and video player) will replace this <div> tag.
		#player
		p toto
		script.
			// 2. This code loads the IFrame Player API code asynchronously.
			let tag = document.createElement ('script')
			tag.src = 'https://www.youtube.com/iframe_api'
			let firstScriptTag = document.getElementsByTagName ('script')[0];
			firstScriptTag.parentNode.insertBefore (tag, firstScriptTag);
			// 3. This function creates an <iframe> (and YouTube player)
			//    after the API code downloads.
			let player;
			function onYouTubeIframeAPIReady () {
				player = new YT.Player('player', {
					height: '390',
					width: '640',
					videoId: 'M7lc1UVf-VE',
					playerVars: { 'autoplay': 1, 'controls': 0 },
					events: {
						'onReady': onPlayerReady,
						'onStateChange': onPlayerStateChange,
					}
				});
			}
			// 4. The API will call this function when the video player is ready.
			function onPlayerReady (event) {
				event.target.playVideo();
			}
			// 5. The API calls this function when the player's state changes.
			//    The function indicates that when playing a video (state=1),
			//    the player should play for six seconds and then stop.
			let done = false;
			function onPlayerStateChange (event) {
				if (event.data == YT.PlayerState.PLAYING && !done) {
					setTimeout(stopVideo, 6000);
					done = true;
				}
			}
			function stopVideo () {
				player.stopVideo();
			}
