html, body {
  margin: 0;
  height: 100%;
}

body {
  padding: 25px 25px;
  font-family: "Abel";
  color: whitesmoke;
  background: rgba(1,9,12,1);
  background: -moz-linear-gradient(-45deg, rgba(1,9,12,1) 0%, rgba(2,46,71,1) 30%, rgba(2,46,71,1) 70%, rgba(1,9,12,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,9,12,1)), color-stop(30%, rgba(2,46,71,1)), color-stop(70%, rgba(2,46,71,1)), color-stop(100%, rgba(1,9,12,1)));
  background: -webkit-linear-gradient(-45deg, rgba(1,9,12,1) 0%, rgba(2,46,71,1) 30%, rgba(2,46,71,1) 70%, rgba(1,9,12,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(1,9,12,1) 0%, rgba(2,46,71,1) 30%, rgba(2,46,71,1) 70%, rgba(1,9,12,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(1,9,12,1) 0%, rgba(2,46,71,1) 30%, rgba(2,46,71,1) 70%, rgba(1,9,12,1) 100%);
  background: linear-gradient(135deg, rgba(1,9,12,1) 0%, rgba(2,46,71,1) 30%, rgba(2,46,71,1) 70%, rgba(1,9,12,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01090c', endColorstr='#01090c', GradientType=1 );
  background-repeat: no-repeat;
}

* {outline: none}
/*.big {*/

  /*margin: auto;*/
  /*width: 100%;*/
  /*max-width: 1200px;*/
  /*min-height: 100px;*/
  /*margin-bottom: 25px;*/
/*}*/

/*.carre {*/
  /*width: 50%;*/
  /*min-height: 100px;*/
  /*height: 100%;*/
  /*display: inline-block;*/
/*}*/

button {
  width: 200px;
  height: 33px;
  background-color: rgb(18,76,109);
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  text-shadow: 2px 0px 10px black;
  box-shadow: 1px 0px 11px black;

}

button:hover{
  background-color: rgb(107,207,238);
  box-shadow: 1px 0px 11px rgb(107,207,238);
}
.valid {
  background-color: rgb(107,207,238);
  box-shadow: 1px 0px 11px rgb(107,207,238);
}

hr {
  border-color: rgb(2,46,71);
}

#admin {
  font-size: 20px;
}
#title {
  font-size: 40px;
  margin: 15px;
}

#description {

}
#allButton {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.boutton {
  display: inline-block;
  margin: auto;
  width: 220px;
  height: 45px;
}

.graph{
  margin: auto;
  max-width: 700px;
}



